# Build artifacts
/build/
/CMakeFiles/
/cmake-build-*/

# Qt build outputs
Makefile
Makefile.*
moc_*.cpp
ui_*.h
.qmake.stash
*.o
*.a
*.so

/rules.ninja

# Qt Creator user settings
CMakeLists.txt.user
*.user
*.user.*
